@model Fahm_e_Islam.Models.RegisterViewModel
<style>
    .container {
        border: 15px solid lightgrey;
        box-shadow: 0 0 30px gray;
        font-family: sans-serif, 'Avant Garde';
        font-style: italic;
    }

    h2 {
        font-weight: bold;
        font-size: x-large;
    }

    h3 {
        font-weight: bold;
        font-size: large;
        color: coral;
    }

    p {
        font-size: medium;
    }

    .social-icons {
        margin: 10px;
    }

    .unstyle-list {
        list-style-type: none;
        display: inline-flexbox;
    }
    .btn
    {

    }
</style>

<div class="container">
    <img src="content/pics/logo.gif" class="img-responsive" />
    <hr />
    <h2>Dear Username,</h2>
    <p>Congratulations - Your Fahm-e-Islam account has been created!</p><br>
    <p>Now you can take our classes from 21<sup>th</sup> November...</p>
    <h3>Accessing Your Account:</h3>
    <p><b>ID: </b>@Model.UserId<br><b>PW: </b>@Model.Password</p><br>
    <a href="http://Fahm-e-islam.com" class="btn">Log In To Your Account</a><br>
    <div class="social-icons">
        <ul class="unstyle-list">
            <li>
                <a href="http://www.facebook.com/fahm-e-islam" target="_blank">
                    <img src="http://wwwf.imperial.ac.uk/utils/assets/apps/news/img/icon-fb.png" width="50" height="50" title="Facebook" />
                </a>
            </li>
            <li>
                <a href="http://www.plus.google.com/fahm-e-islam" target="_blank">
                    <img src="https://lh4.googleusercontent.com/-0smy5luOUOg/U0T93nQTDcI/AAAAAAAAAAs/FwshzIkbWvQ/s40-no/google_plus.png" width="50" height="50" title="Google Plus" />
                </a>
            </li>
            <li>
                <a href="http://www.twitter.com/fahm-e-islam" target="_blank">
                    <img src="https://ma.twimg.com/twitter-mobile/99b302bafd9e9a67f1caf75225cbb6e7e23e6ffe/images/favicon.ico" width="50" height="50" title="Twitter" />
                </a>
            </li>
            <li>
                <a href="http://www.linkedin.com/fahm-e-islam" target="_blank">
                    <img src="content/pics/linkedin.png" width="50" height="50" title="Linked In" />
                </a>
            </li>
        </ul>
    </div>
</div>