@model ZeeSoft.Web.MVC.FI.Models.UserViewModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br><br>
<div class="panel panel-primary">
    @*<div class="panel-heading text-center"><h2>Home</h2></div>*@
    <div class="panel-body">
        <div class="jumbotron">
            <h1>User's Dashboard</h1>
        </div>
    </div>
</div>
