@model Fahm_e_Islam.Models.MessageViewModel
<style>
    .container {
        border: 15px solid lightgrey;
        box-shadow: 0 0 30px gray;
        font-family: sans-serif, 'Avant Garde';
        font-style: italic;
    }

    p {
        font-size: medium;
    }
</style>

<div class="container">
    <img src="content/pics/logo.gif" class="img-responsive" />
    <hr />
    <h2>Dear @Model.FullName,</h2>
    <p>We have recieve your query, We will contact you soon...</p><br>
    <div>
        <hr />
        <div>
            <p>Team Fahm-e-Islam</p>
        </div>

    </div>

</div>