@{
    ViewBag.Title = "Cost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading text-center"><h2>Cost</h2></div>
    <div class="panel-body">
        <div class="col-sm-9">
            <h3 class="">Cost</h3>
            <blockquote class="blockquote">
                The below mentioned cost is exclusive of First Week's Free Trial Classes You can select any of the following predefined plans or Contact us for a customized plan.
            </blockquote>
        </div>
        <div class="col-sm-9">
            <table class="table table-hover table-bordered table-responsive table-striped text-center">
                <thead class="bg-primary">
                    <tr>
                        <th>
                            Packages
                        </th>
                        <th>
                            Days
                        </th>
                        <th>
                            US & Others
                        </th>
                        <th>
                            UK
                        </th>
                        <th>
                            Europe
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-danger bg-danger">
                        <td>
                            1<sup>st</sup> - Month
                        </td>
                        <td></td>
                        <td>
                            $10
                        </td>
                        <td>
                            £10
                        </td>
                        <td>
                            €10
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Plan-A
                        </td>
                        <td>
                            2/W
                        </td>
                        <td>
                            $30
                        </td>
                        <td>
                            £15
                        </td>
                        <td>
                            €20
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Plan-B
                        </td>
                        <td>
                            3/W
                        </td>
                        <td>
                            $45
                        </td>
                        <td>
                            £25
                        </td>
                        <td>
                            €30
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Plan-C
                        </td>
                        <td>
                            4/W
                        </td>
                        <td>
                            $60
                        </td>
                        <td>
                            £30
                        </td>
                        <td>
                            €40
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Plan-D
                        </td>
                        <td>
                            5/W
                        </td>
                        <td>
                            $75
                        </td>
                        <td>
                            £40
                        </td>
                        <td>
                            €50
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Plan-E
                        </td>
                        <td>
                            6/W
                        </td>
                        <td>
                            $85
                        </td>
                        <td>
                            £45
                        </td>
                        <td>
                            €55
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



