@model ZeeSoft.ClassRoomJson.CourseTopic


    <div class="input_fields_wrap">
        <button class="add_field_button">Add More Fields</button>
        <div><input type="text" id="Topics_0__Description" name="Topics[0].Description"><a href="#" class="remove_field">Remove</a></div>
    </div>
