@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading text-center"><h2>Contact Us</h2></div>
    <div class="panel-body">
